<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Home - Lag.pe</title>
</head>
<body>
    <div class="content-main">
        <%- include('include/header') %>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script>
    const socket = io("http://localhost:3001/")
</script>
</html>